basePath: /
host: localhost:8081
info:
  contact:
    email: support@deviceregistry.com
    name: API Support
  description: Device Registry Platform API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Device Registry API
  version: "1.0"
paths:
  /health:
    get:
      consumes:
      - application/json
      description: Check if the service and database are healthy
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
        "503":
          description: Service Unavailable
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health check endpoint
      tags:
      - health
swagger: "2.0"
